<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.MyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Index3Servlet</servlet-name>
    <servlet-class>com.Index3Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Index4Servlet</servlet-name>
    <servlet-class>com.Index4Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Index5Servlet</servlet-name>
    <servlet-class>com.Index5Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>com.MapServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TwoBarServlet</servlet-name>
    <servlet-class>com.TwoBarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowListServlet</servlet-name>
    <servlet-class>com.ShowListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LineServlet</servlet-name>
    <servlet-class>com.LineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PieServlet</servlet-name>
    <servlet-class>com.PieServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index3Servlet</servlet-name>
    <url-pattern>/Index3Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index4Servlet</servlet-name>
    <url-pattern>/Index4Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index5Servlet</servlet-name>
    <url-pattern>/Index5Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/MapServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TwoBarServlet</servlet-name>
    <url-pattern>/TwoBarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowListServlet</servlet-name>
    <url-pattern>/ShowListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LineServlet</servlet-name>
    <url-pattern>/LineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PieServlet</servlet-name>
    <url-pattern>/PieServlet</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>